.sectionContainer{
    background-color: #414037;
    width: 100%;
    height: 700px;
    z-index: 0;
    position: relative;
    padding-top: 156px;
    padding-left: 72px;
}

.bgImageContainer{
    width: 550px;
    height: 750px;
    position: absolute;
    left: 12%;
    top: 0;
}

.sectionContent{
  display: flex;
  justify-content: space-between;
}

.sectionContentLeft{
    margin-right: 250px;
}

.imageBackground{
  position: relative;
  background-color: #ffffff;
  width: 320px;
  height: 400px;
  border-radius: 8px;
}

.imageContainer{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 320px;
  height: 400px;
  transition: all ease-in-out 0.7s;

  &:hover{
    top: 0%;
    left: 0%;
  }
}

.sectionContentRight{
  width: 60%;
  display: flex;
  flex-direction: column;
}

.sectionSubHeading{
  p{
    font: normal normal normal 20px Lato;
    color: #EDEBEB;
    margin-bottom: 4px;
  }
}

.sectionHeadingUnderline{
    width: 140px;
    background-color: #BFBF69;
    height: 6px;
    border-radius: 8px;
}

.sectionHeading{
    h2{
      font: normal normal bold 32px Lato;
      color: #EDEBEB;
    }
    span{
      color: #BFBF69;        
    }
}

.sectionDescription{
  width: 75%;
  p{
    font: normal normal normal 24px Raleway;
    color: #EDEBEB;
    line-height: 32px;
  }
}