.sectionContainer {
  background-color: #f3f3eb;
  width: 100%;
  padding-bottom: 156px;
  z-index: 0;
  position: relative;
  padding-top: 72px;
  background-image: url("/abstractMapSignUp.png");
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;

  h2 {
    font: normal normal bold 24px Lato;
    color: #414037;
    text-align: center;
    margin-bottom: 8px;

    @media (max-width: 426px) {
      font-size: 20px;    
    }
  }
}

.sectionHeadingUnderline {
  width: 440px;
  background-color: #bfbf69;
  height: 6px;
  border-radius: 8px;

  @media (max-width: 426px) {
    width: 360px;    
  }
}

.contentTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  width: 100%;
  justify-content: center;

  h3{
    font: normal normal bold 32px Lato;
    color: #414037;
    text-align: center;
    margin-bottom: 8px;
    @media (max-width: 426px) {
      margin-right: 32px;    
    }
  }
}

// .contentHeadingUnderline{
//   // width: 360px;
//   // background-color: #413737;
//   // height: 6px;
//   // border-radius: 8px;
//   // @media (max-width: 426px) {
//   //   width: 240px;    
//   // }

// }

.formAndVideoContainer{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.formContainer{
  width: 100%;
  padding: 0px 156px;
  margin-top: 48px;

  @media (max-width: 769px) {
    padding: 0px 0px;
    margin-right: 48px;    
  }

  @media (max-width: 426px) {
    padding: 0px 0px;   
  }
}

.video {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 16px;
  margin-right: 0px;
}

.video:hover{
  .controls{
    transform: translateY(-80%);
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 85%;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(150%);
  transition: all 0.3s ease-in-out;
}

.btnPlay{
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3eb;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
}

.volumeBtn{
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3eb;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  padding: 4px;  
}

.inputRange input[type="range"] {
  -webkit-appearance: none !important;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 4px;
  width: 100%;
}

.inputRange{
  input[type="range"]::-webkit-range-thumb {
    -webkit-appearance: none !important;
    cursor: pointer;
    height: 4px;
  }
}

.inputRange {
  input[type="range"]::-moz-range-progress {
    background: #ffffff;
  }
}

.velocity {
  position: relative;
  appearance: none;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;

  option{
    background-color: #312f2f;
    font-size: 10px;
    padding-left: 4px;
    font-family: "Lato";
    font-weight: bold;
  }
}