@import "./variables/index.scss";

html, body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #BFBF69;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BFBF69;
}
