.radioInputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-top: 24px;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 1s;

  label {
    text-align: left;
    font: normal normal normal 20px Raleway;
    color: #414037;
  }

  &:hover {
    position: relative;
    bottom: 5px;

    label {
      text-decoration: underline;
    }
  }
}

.checkboxWrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  margin-right: 0.5em;
  border: 0.15em solid #707070;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: #4477c4b5;
  }

  &:checked {
    background-color: #4477c4;
    border: none;
  }
}

.formInput {
  outline: none;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 16px;
  font: normal normal normal 20px Raleway;
  color: #414037;
  margin-bottom: 24px;
  width: 100%;
  box-shadow: -3px 3px 6px #00000029;
  border: none;

  &:focus {
    border: 0.15em solid #707070;
    box-shadow: none;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.buttonWrapper{
  margin-top: 40px;
  font-size: 16px;
  font-family: Raleway;
  color: #414037;
  text-align: center;
}

.button {
  background: #414037 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #ffffff29;
  border-radius: 16px;
  border: none;
  color: white;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font: normal normal bold 24px Raleway;
  cursor: pointer;

  &:hover{
    background-color: #625f49    
  }
}

.errorMessage{
  font: normal normal normal 16px Raleway;
  color: #EC1616
}
