.ButtonContainerFill{
    padding: 10px;
    font-family: 'Raleway';
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-right: 32px;
    width: 120px;
    background-color: #414037;
    color: white;
    height: 24px;
    cursor: pointer;
    
    &:hover{
      background-color: #8C8C4C;
      color: #ffffff;
      border: none;
      height: 24px;
    }
}

.ButtonContainerOutline{
    padding: 10px;
    font-family: 'Raleway';
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-right: 32px;
    width: 120px;
    color: #414037;
    border: 4px solid #414037;
    cursor: pointer;

    
    &:hover{
      background-color: #8C8C4C;
      color: #ffffff;
      border: 4px solid #8C8C4C;
    }
}

.AnimatedButtonContainer{
  background: #414037 0% 0% no-repeat;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  height: 34px;
  transition: all ease-in-out linear 0.8s;

  span{
    font: normal normal bold 20px Lato;
    color: #F3F3EB;
    transition: all ease-in-out linear 0.8s;
  }

  .ButtonArrow{
    background-image: url("/arrow-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 24px;
    z-index: 1;
    visibility: hidden;
    transition: all ease-in-out linear 0.8s;
  }

  &:hover{
    span{
      transform: translateX(-25%);
    }

    .ButtonArrow{
      transform: translate(50%);
      visibility: visible;
    }

    background-color: #8C8C4C;
  }
}
